* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0080ff;
}

.rating-container {
  text-align: center;
  padding: 2px 2px;
  border: 1px solid #ddd;
  width: 500px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  height: 200px;
}

.stars {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 2rem;
  cursor: pointer;
  margin: 15px;
}

.star {
  transition: color 0.2s ease-in-out;
  color: #ccc;
}

.star.active {
  color: gold;
}

.feedback {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.submit-button {
  margin-top: 15px;
  padding: 10px  15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #0080ff;
  cursor: pointer;
  transition: background 0.3s ease-in-out;

}

.submit-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.submit-button:hover:not(:disabled) {
  background-color: #005bb5;
}
/* modal styling */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}
.modal-content h2 {
  margin-bottom: 15px;
   color: #333;

}


.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #0080ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.close-button:hover {
  background-color: darkred;
}